input,
textarea {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: transparent;
    width: 360px;
    height: 40px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    border-color: #000;
}

textarea {
    min-height: 80px;
    resize: none;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

}

button:hover {
    background: #6c8cff;
}

.feedback-form>:not(:nth-last-child(2)) {
    margin-bottom: 8px;
}

.feedback-form>:not(:last-child) {
    margin-bottom: 16px;
}

.feedback-form>label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

